certifi==2019.3.9
chardet==3.0.4
Click==7.0
click-datetime==0.2
Flask==1.0.2
Flask-API==1.1
idna==2.8
itsdangerous==1.1.0
Jinja2>=2.10.1
MarkupSafe==1.1.1
requests==2.21.0
soco==0.30.10
typing==3.6.6
urllib3==1.24.2
Werkzeug==0.16.1
xmltodict==0.12.0
gunicorn==21.2.0